

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 26px;
}

.my_container {
    padding: 40px;
}

button {
    outline: none !important;
}

.myCheBox {
    margin-left: -36px !important;
    margin-top: -15px;
}

.myCheBoxText {
    margin-left: -14px !important;
}

.saveBoxButton {
    margin-left: 20px;
    margin-top: 7px;
}

.mb5 {
    margin-bottom: 5px;
    display: inline-block;
}

.tp5 {
    top: 5px;
}

.p0 {
    padding: 0px !important;
}

.m0 {
    margin: 0px !important;
}

.ml10 {
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mt80 {
    margin-top: 80px !important;
}

.w300 {
    width: 300px;
}

.grey {
    color : #999999;
    color : rgb(153, 153, 153);
}

.pull-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.logoImg {
    max-height: 70px;
    max-width: 150px;
}

.logoImgBig {
    max-height: 250px;
    max-width: 250px;
}

.breadcrumbsIcon {
    cursor: default !important;
    padding: 0px;
    margin-left: -3px;
    margin-right: -2px;
    margin-bottom: 5px;
}

.sort {
    background: #FFFFFF;
}

.red {
    color: #ff5f6b;
}

.crudButtons {
    margin-top: 25px;
}

.helpButtons a{
    margin-top: 0px;
}


.btn-category {
    margin-top: 0px;
    margin-left: 20px;
}

.categoryHelpText {
    width: 265px;
    margin-left: 325px;
    margin-top: 10px;
}

.grey-palka {
    background : #E6E6E6;
    background : rgba(230, 230, 230, 1);
    width : 21px;
    height : 4px;
    margin-top: 2px;
}

.categoryBoxError {
    display: inline-block;
    color : #BB4945;
    color : rgb(187, 73, 69);
    font-weight : bold;
    width: 310px;
    padding-left: 10px;
    padding-right: 20px;
    margin-left: 0px;
}

.grey-palki {
    cursor: pointer;
}

.myTable td, .myTable th {
    vertical-align:middle !important;
}

.myTable tr.pinned {
    border: 2px solid rgba(242, 174, 67, 1) !important;
}

.myTable tr.pinned td {
    border-bottom: 2px solid rgba(242, 174, 67, 1) !important;
}

.myTable thead.pinned th{
    border-bottom: 2px solid rgba(242, 174, 67, 1) !important;
}

.glyphicon.glyphicon-check,
.glyphicon.glyphicon-unchecked {
    color: #000000;
}

.loginContainer {
    position:absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -185px;
}

.loginButton {
    height: 44px;
}

#loginForm {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0px 40px 40px 40px;
    border: 1px solid rgba(204, 204, 204, 1);
}

#loginForm h1 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
}

#loginForm input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#loginForm .errors {
    color: red;
    position: relative;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.holderCategoryForm {

}

.bottomSaveBox {
    background : #F7F7F7;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    border-top: 1px solid rgba(221, 221, 221, 1);
    width : 100%;
    height : 100px;
    margin-top: 40px;
}

.addCategoryBox {
    width : 100%;
    margin-top: 40px;
    background : #F7F7F7;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    border-top: 1px solid rgba(221, 221, 221, 1);
    padding: 20px;
}

#settingsForm {
    margin-top: -14px;
}

.logoLogin {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

.rememberMe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 145px;
    margin-top: 8px;
}

.rememberLabel {
    display: block;
    margin-left: 28px;
    margin-top: -27px;
    font-weight: normal;
}

.leftCreate {
    width: 300px;
    float: left;
}

.rightCreate {
    margin-left: 300px;
}

.create {
    height: 100%;
}

.categoriesBox {
    margin-right: -12px;
}

.categoriesBox button{
    padding: 0px 15px 1px 0px;
}

.itemsDscr, .itemsComments {
    display: inline-block;
    width: 100px;
}

.mainPrice {
    display: block;
    font-weight : bold;
    font-size : 24px;
}

.formSection {
    background : rgba(247, 247, 247, 1);
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    border-top: 1px solid rgba(221, 221, 221, 1);
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 47px;
    padding-left: 20px;
}

.finLeft {
    display: inline-block;
    width: 47%;
    min-width: 405px;
    margin-left: 1%;
    margin-right: 3%;
}

.finRight {
    display: inline-block;
    width: 47%;
    min-width: 405px;
    margin-right: 1%;
}

.cheboxFin {
    margin: 0px;
}

.cheboxFinText {
    margin: 0px;
}

.cheboxFin button{
    padding: 0px;
    margin: -2px -2px 0px 0px;
}

.finCheWrapper {
    float: right;
    display: block;
    margin-right: 20px;
}

.link_icon {
    margin-top: -29px;
    margin-right: 15px;
    float: right;
}

.leftAuto {
    min-width: 540px;
    width: 60%;
}

.rightAuto {
    min-width: 300px;
    float: right;
    width: 30%;
    margin-top: -130px;
}

.noItems {
    height: 450px;
    color : #cccccc;
    background : #F7F7F7;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    border-top: 1px solid rgba(221, 221, 221, 1);
    width : 100%;
    margin-top: 40px;
}

.noItemsIcon, .noItemsText, .noItemsIconError, .noItemsError, .noItemsErrorDescr {
    display: block;
    text-align: center;
}

.noItemsIcon, .noItemsIconError {
    margin-top: 115px;
}

.noItemsText, .noItemsError {
    margin-top: 15px;
    font-size: 26px;
}

.noItemsIcon span, .noItemsIconError span {
    font-size: 145px;
}

.noItemsIconError span {
    color: #db524b;
}

.noItemsError {
    color: #000000;
}

.noItemsErrorDescr {
    color: #db524b;
}

.noItemsErrorDescr {
    margin-top: 10px;
}

.nodisplay {
    display: none;
}